@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@300;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary-clr: #81642d;
    --secondary-clr: #4dd3f5;
    --hover-clr: #f8e9cc;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.font-script {
  font-family: 'Dancing Script', cursive;
}


h2{
  font-weight: 400;
  font-size: 20px;
}

.container{
  padding: 0 8%;
}



@layer components {
  .navLink {
    @apply cursor-pointer md:text-xl lg:text-base md:tracking-wide text-white  hover:text-[#4dd3f5];
  }
  .btn {
    @apply box-border cursor-pointer flex-row items-center rounded-lg p-2.5 text-sm font-semibold hover:opacity-80 transition-all md:px-8 md:text-lg;
  }
    input {
      @apply w-full mt-4 ml-4 p-2 text-base md:text-xl md:mb-3 rounded-lg  md:w-auto lg:w-auto bg-transparent text-white border hover:bg-[#27241d];
  }
    .input2 {
    @apply w-full lg:w-[150px]
  }
}
