@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary-clr: #81642d;
    --secondary-clr: #4dd3f5;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

h2{
  font-weight: 400;
  font-size: 20px;
}

.container{
  padding: 0 8%;
}

Link{

}


@layer components {
  .navLink {
    @apply cursor-pointer md:text-xl lg:text-xl md:tracking-wide text-[#020202] transition duration-[0.5s] hover:text-[#4dd3f5] hover:font-bold;
  }
  .btn {
    @apply cursor-pointer flex-row items-center gap-x-3 rounded px-5 py-2 text-sm font-semibold hover:opacity-80 transition-all md:px-8 md:text-lg;
  }
  input {
      @apply w-40 ml-4 p-2 text-sm md:text-xl rounded-lg;

  }
}
